<div class="article">
  <h3 class="article__heading">
    <a class="text-primary" href="/article/{{this._id}}">{{this.title}}</a></h3>
  <small class="article__authors">
    By: {{author}}
  </small>
  <br />
  <small>
    <b>Date:</b>
    {{#convertDateString publicationDate}}
      {{this}}
    {{/convertDateString}}
  </small>
  <br />
  <small class="article__keywords">
    <b>Genre(s):</b>
    {{#each keywords}}
      {{this}},
    {{/each}}
  </small>
  <br />
  <p class="article__abstract">
    {{#trimString abstract}}
      {{this}}
    {{/trimString}}
  </p>
  <div class="flex article__buttons">
	  <div class="flex" style="align-items:center;">
      <span class="material-symbols-outlined">
        chat
      </span>
      {{comments.length}}
    </div>
    {{#if @root.userId}}
      <button class="button button--outline vote-button" onclick="vote('{{this._id}}', 'upvote', this)" data-upvote="{{@key}}">
        <span class="material-icons{{#isUpvoted @root.currUser.upvotes this._id}}{{this}}{{/isUpvoted}}" id="upvoteIcon-{{this._id}}">
          thumb_up
        </span>
        <span id="upvoteNum-{{this._id}}">
          {{this.upvotes}}
        </span>
      </button>
      <button class="button button--outline vote-button"  onclick="vote('{{this._id}}', 'downvote', this)" data-downvote="{{@key}}">
        <span class="material-icons{{#isDownvoted @root.currUser.downvotes this._id}}{{this}}{{/isDownvoted}}" id="downvoteIcon-{{this._id}}">
          thumb_down
        </span>
        <span id="downvoteNum-{{this._id}}">
          {{this.downvotes}}
        </span>
      </button>
    {{/if}}
  </div>
</div>