<link rel="stylesheet" href="/css/account.css" />
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/css/article-item.css" />

{{>account-sidebar}}

<div class="modal" onclick="closeModal()">
  <div class="modal__content">
    <h3>Are you sure you want to delete your account?</h3>
    <div class="flex">
      <button class="button button--outline" onclick="closeModal()">
        Cancel
      </button>
      <form action="/users/delete/{{userId}}?_method=DELETE" method="POST">
        <button id="deleteBtn" class="button button--danger" >Delete</button>
      </form>
    </div>
  </div>
</div>

<section class="padded ">
  <div class="container">
    <h1 class="text-primary">{{user.firstName}} {{user.lastName}}</h1>
    <br />
    <h3>Account Details</h3>
    <hr />
    <form id="editAccountForm" data-userId="{{userId}}">
      <div class="flex form__items">
        <label for="email">Email Address</label>
        <input
          type="email"
          name="email"
          id="email"
          value="{{user.email}}"
          class="form__input"
          disabled
        />
        <div class="message error-msg" id="username"></div>
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          value="{{user.username}}"
          class="form__input"
          disabled
        />
        <div class="loader"></div>
      </div>
    </form>
    <div class="delete-account">
      <h3 class="text-red">Delete Account</h3>
      <hr />
      <p>Once you delete your account, there is no going back. Please be certain.</p>
      <button class="button button--danger" onclick="openModal()">Delete Account</button>
    </div>
    <br>
    <br>
    <h3 class="text-black">My Books</h3>
    <hr>
    <form id="viewOwnBooks" data-userId="{{userId}}">        
      <div class="article__list">
        {{#if articles}}
          {{#each articles}}
            

            <tr id="{{this._id}}" data-title="{{this.title}}">
              <td class="article-title">
               <a class="text-primary" href="/article/{{this._id}}">{{this.title}}</a>
              </td>
              <td class="delete-article">
                <button class="text-red remove" value="{{this._id}}">
                  <span class="material-symbols-outlined">
                    delete
                  </span>
                </button>
              </td>
            </tr>




          {{/each}}
        {{else}}
          <h2>No Books...</h2>
        {{/if}}
      </div>
    </form>
  </div>
</section>

<script src="/js/account.js"></script>
<script src="/js/forms.js"></script>