<link rel="stylesheet" href="/css/articles.css" />

{{>overlay}}
{{>citation-modal}}
<section class="search-section bg-gray">
  <form id="searchForm" name="search" action="/articles/search" method="GET">
    <div class="search-section__container">
      <input class="search-section__input" type="text" id="searchQuery" placeholder="Search" name="q" />
      <button type="submit">
        <span class="material-symbols-outlined">
          search
        </span>
      </button>
    </div>
  </form>
</section>
<section class="padded">
  <div class="flex container">
    <div class="filter">
      <h4>Filter By:</h4>
      <div class="filter__box">
        <fieldset form="searchForm" name="year" id="yearField">
        <h4>Year</h4>
          {{#if yearList}}
            {{#each yearList}}
            <div>
              <input type="checkbox" name="year" form="searchForm" id="{{this}}" value="{{this}}" />
              <label for="{{this}}">{{this}}</label>
            </div>
            {{/each}}
          {{/if}}
          </fieldset>
      <fieldset form="searchForm" name="keywords" id="keywordField">
      <h4>Genre</h4>
        <p><b>Main Genre</b></p>
        <input type="checkbox" name="keywords" form="searchForm" id="{{this}}" value="Adventure" />
        <input type="checkbox" name="keywords" form="searchForm" id="Romance" value="Adventure" />
        <input type="checkbox" name="keywords" form="searchForm" id="Adventure" value="Adventure" />
        <input type="checkbox" name="keywords" form="searchForm" id="Adventure" value="Adventure" />
        <input type="checkbox" name="keywords" form="searchForm" id="Adventure" value="Adventure" />
        <input type="checkbox" name="keywords" form="searchForm" id="Adventure" value="Adventure" />


		    {{#if keyList}}
          {{#each keyList}}
            <div>
              <input type="checkbox" name="keywords" form="searchForm" id="{{this}}" value="{{this}}" />
              <label for="{{this}}">{{this}}</label>
            </div>
            {{/each}}
          {{/if}}
        </fieldset>
        <button form="searchForm" class="pagination__btn"  name="filter" type="submit" id="filter-btn">Filter Results (TODO)</button>

      </div>
    </div>
    <div class="article__list">
      {{#if articles}}
        {{#each articles}}
          {{>article-item}}
        {{/each}}
      {{else}}
        <h2>Story not found...</h2>
      {{/if}}
    </div>
  </div>
  <div class="pagination flex">
    {{#paginate totalPages}}
      <button class="pagination__btn"  form="searchForm" name="page" value="{{this}}">
        {{this}}
      </button>
    {{/paginate}}
  </div>
</section>
<script src="/js/articles.js"></script>
